node_modules/
target/
dist/
.anchor/
test-ledger/
.env
*.log
contracts/evm/out/
contracts/evm/cache/
contracts/evm/broadcast/
.DS_Store
.e2e/
keys/*.json
.e2e/
docs/.vitepress/cache/
docs/.vitepress/dist/

.vercel/
.vercel-deploy/
